/* SortableTable.module.scss */

/* Define a local class selector for the table */
.table {
	width: 100%;
	border-collapse: collapse;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	th,
	td {
		text-align: center;
		padding: 12px;
	}

	th {
		background-color: #f2f2f2;
	}

	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	tr:hover {
		background-color: #ddd;
	}
}

/* Define a local class selector for the table container */
.table-container {
	overflow-x: auto; /* Add horizontal scroll if needed */
}
