.navbar {
	display: flex;
	position: relative;
	top: 0;
	flex-direction: row;
	width: 100%;
	background-color: rgb(0, 195, 255);
	align-items: center;
	color: rgb(0, 0, 0);
	font-size: 1.5em;
	font-weight: bold;
	transition: top 0.5s;
	height: fit-content;
}

.hide {
	top: -3em;
}

.navitem {
	position: relative;
	padding: 1em;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: default;
	white-space: nowrap;
	z-index: 10;
}

.clickable {
	@extend .navitem;
	cursor: pointer;
}

.clickable:hover {
	backdrop-filter: brightness(80%);
}

.dropdown_container {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	background-color: rgb(0, 195, 255);
	position: absolute;
	top: 100%;
	right: 0;
}

.dropdown:hover {
	cursor: pointer;
	backdrop-filter: brightness(80%);
	.dropdown_container {
		visibility: visible;
	}
}

.end {
	margin-left: auto;
}
