/* HomePage.module.scss */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f4f4f4;
}

.header {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #333;
}

.content {
	text-align: center;
	max-width: 400px;
	margin-top: 1rem;
	color: #666;
}

.addButton{
	background-color: #007bff;
		color: white;
		border: none;
		border-radius: 5px;
		padding: 5px 15px;
		cursor: pointer;
}

.deleteButton{
	background-color: #9a0707e0;
		color: white;
		border: none;
		border-radius: 5px;
		padding: 5px 15px;
		cursor: pointer;
}
